<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.0/js/mdb.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.0/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>ВХІД</title>

<body>
<div th:replace="/fragment/nav::nav"></div>
<br><br>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="text-center">
            <div class="alert alert-danger" role="alert" th:if="${param.error}">
                Електронна адреса або пароль неправильні!
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1 class="display-4 text-center">Увійдіть, щоб мати можливість забронювати автомобіль</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form th:action="@{/login}" method="post">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="text-center">
                                <div class="alert-success" role="alert" th:if="${msg}" th:utext="${msg}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3">
                            <label for="email">Електронна пошта</label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                    <div class="input-group-addon" style="width: 2.6rem">
                                        <i class="fas fa-at"></i>                                    </div>
                                    <input type="email" id="email" name="email" class="form-control" placeholder="Email" required
                                           autofocus>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label for="password">Пароль</label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                    <div class="input-group-addon" style="width: 2.6rem">
                                        <i class="fas fa-key"></i>
                                    </div>
                                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required
                                           autofocus>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="remember-me"/> Запамятати мене
                        </label>
                    </div>
                    <button class="btn btn-lg btn-success btn-block" type="submit">Увійти</button>
                    <div class="margin-top20 text-center"> Немає облікового запису? <a th:href="@{/signup}">Створити новий</a></div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>